@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h2{
    font-weight: $font-bold;
    font-size:$xx-large
}

p{
    font-weight: $font-medium;
    font-size: $large;
}