//colors
$background:#131826;
$principal: #575916;
$second:#F2E2C4;
$third:#A6785D;
$light-brown:#F2C894;
$blue-sky: #7EB6D9;
$water-green:rgb(34, 194, 180);
$moss-green: #565902;
$earth:#BF7B54;



$font-thin: 300;
$font-medium: 500;
$font-bold: 700;


//style size
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

